# Önceki kurallar
config.yml
*.Rproj
.Rproj.user/
.RData
.Rhistory
Kaynak Dosyalar/

# renv TAVSİYESİ:
# renv klasörünün kendisini değil,
# içindeki büyük kütüphane klasörlerini yoksay.
renv/library/
renv/staging/
renv/temp/
renv/cache/